/*Obnuleniye*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    /*color: inherit;*/
}

p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #252B42;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

body.lock {
   overflow: hidden;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


/*  Container */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/* Icons Styles */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-sun1 {
   width: 15px;
   fill: gold;
}
.icon-location {
   width: 15px;
   fill: orangered;
   margin-bottom: 3px;
}

.icon-whatsapp,
.icon-phone,
.icon-viber,
.icon-telegram {
   width: 20px;
   height: 20px;
/*   fill: white;*/
/*   fill: #777;*/
/*   fill: #004da8;*/
   fill: #9b9b9b;
   transition: all 0.3s ease 0s;
}

.icon-whatsapp:hover,
.icon-phone:hover,
.icon-viber:hover,
.icon-telegram:hover {
   fill: #00adf9;
} 

.icon-social {
   width: 20px;
   height: 20px;
   fill: white;
   transition: all 0.2s ease 0s;
}

.icon-social:hover {
   fill: gold;
}

.icon-azn_sign {
   width: 15px;
   fill: #00adf9;
   
}

.icon-heart-favorite {
   width: 18px;
   height: 15px;
   fill: transparent;
   stroke: #004da8;
   stroke-width: 3px;
   margin: 0px 7px;
   transition: all 0.2s ease 0s;
   margin-bottom: -2px;
}

.icon-heart-favorite:hover {
/*   fill: #c400ff;*/
   stroke: #c400ff;
}

.icon-star-full {
   width: 20px;
   height: 20px;
   fill: gold;
}


.icon-percent1 {
   width: 15px;
   height: 15px;
   fill: white;
}

.icon-arrow-link {
   width: 15px;
   height: 15px;
   fill: white;
   padding-top: 3px;
   margin-right: 3px;
}

.icon-consultant {
   width: 100px;
   height: 100px;
}

.icon-calendar {
   width: 90px;
   height: 90px;
}

.icon-arrow-down_b {
   width: 15px;
   height: 15px;
   fill: grey;
   position: absolute;
   right: 10px;
   top: 42%;
/*   transform: rotate(180deg);*/
   z-index: 1;
   pointer-events: none;
}

/*
.booking__input:focus ~ .icon-arrow-down_b {
   transform: rotate(180deg);
}
*/

/*
.booking__input:not(:placeholder-shown) ~ .icon-arrow-down_b {
   transform: rotate(0deg);
}
*/

/*  Header Section Styles*/

.header-top {
/*   background-color: #004da8;*/
/*   background: #f4f4f4;*/
   background: #eaeaea;
/*   background: #43709e;*/
   color: white;
   color: #777;
   font-size: 16px;
   
}

.header-top__container {
}

.header-top__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 40px;
   padding: 0px 15px;
}
.header-top__right {
}

.top-right {
   display: flex;
   align-items: center;
   margin:  0px 10px;
}

.top-right__location {
   display: flex;
   align-items: center;
}
.top-right__location span {
   padding: 0px 2px;
}
.top-right__weather {
   margin: 0px 10px;
   display: flex;
   align-items: center;
   color: white;
}

.top-right__weather span {
   padding: 0px 3px;
}

.header-top__left {
}
.top-left {
   display: flex;
   align-content: center;
   align-items: center;
}
.top-left__contacts {
   color: white;
   display: flex;
   align-items: center;
}
.contacts__link {
/*   color: white;*/
   color: #777;
   padding: 0px 5px;
   display: flex;
   align-items: center;
}

.contacts__link span {
   padding: 0px 5px 0px;
/*   color: #ffb100;*/
   color: #bcbcbc;
   font-weight: 600;
/*   font-style: italic;*/
   letter-spacing: 0.5px;
   transition: all 0.3s ease 0s;
}

.contacts__link span:hover {
   color: orangered;
}

.top-left__currency {
   padding: 0px 7px 0px 7px;
   position: relative;
   
}

.currency__selected {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.currency__selected span {
/*   padding: 0px 5px;*/
}


.currency__image {
}
.currency__name {
   font-size: 14px;
   padding: 0px 2px 0px 5px;
   font-weight: 500;
}
.currency__select {
   position: absolute;
   z-index: 15;
   padding: 5px 2px 0px 2px;
   top: 30px;
   left: 0px;
   background-color: #004da8;
  width: 100%;
   text-align: center;
   vertical-align: middle;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s ease 0s;
   border-radius: 5px;
   color: white;
}
.curency__type {
/*
    display: flex;
   justify-content: space-between;
   align-items: center;
*/
   margin-bottom: 5px;
   padding-bottom: 2px;
   padding-top: 2px;
   cursor: pointer;
   border-bottom: 1px dotted transparent;
}

.curency__type:hover {
   border-bottom: 1px dotted white;
}

.curency__type:hover .currency__name {
   color: yellow;
}

.curency__type svg {
   padding-top: 3px;
/*   padding: 3px 1px 0px;*/
}

.top-left__currency:hover .currency__select {
   visibility: visible;
   opacity: 1;
   top: 20px;
}

.top-left__language {
/*   margin: 0px 5px;*/
   padding: 0px 6px;
   display: flex;
   align-items: center;
   position: relative;
}
.top-header__language {
/*   color: #9abf00;*/
   color: darkslategrey;
   font-weight: 500;
   font-size: 14px;
/*   padding: 0px 3px 0px 3px;*/
   display: flex;
   align-items: center;
   justify-content: center;
}

.top-header__language span {
   padding: 0px 0px 0px 5px;
}


.top-header__language img {
   width: 15px;
   height: 10px;
}
.top-header__language._active {
   color: #004da8;
/*   border-bottom: 1px solid #bae600;*/
}

.language__type {
   margin-bottom: 5px;
   border-bottom: 2px dotted transparent;
   padding: 3px 0px;
   transition: all 0.3s ease 0s;
}

.language__type:hover {
   border-bottom: 2px dotted #0000ad;
   margin: 0px 0px 5px;
}

.language__select {
   position: absolute;
   z-index: 15;
   padding: 5px 2px 0px 2px;
   top: 30px;
   left: 0px;
   background-color: #e0e0e0;
  width: 100%;
   text-align: center;
   vertical-align: middle;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s ease 0s;
   border-radius: 5px;
}

.top-left__language:hover .language__select {
   visibility: visible;
   opacity: 1;
   top: 18px;
}

.top-header-user__link {
   display: flex;
   color: #00adf9;
   border: 1px dotted #00adf9;
   padding: 5px 10px;
   margin: 0px 5px;
   border-radius: 10px;
   font-size: 14px;
   transition: all 0.5s ease 0s;
}

.top-header-user__link:hover {
   color: white;
   border: 1px dotted #00adf9;
   background-color: #00adf9;
}

.icon_user_header {
   width: 15px;
   fill: currentcolor;
}

.header__main {
}

.main-header {
   color: white;
  position: relative;
    z-index: 3;
   margin: 0 auto;
/*   width: 100%;*/
   display: flex;
   justify-content: center;
}

.main-header__body {
 background-color: white;
}


.main_banners {
   height: 270px;
    width: 100%;
    background-color: #02408a;
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.main_banners__others {
   height: 220px;
    width: 100%;
    background-color: #3c220f;
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.dealer_banner {
   width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   position: absolute;
   z-index: -1;
}

.main-header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
/*   position: relative;*/
/*   z-index: 5;*/
   padding: 2px 20px;
}


.main-header__logo {
   margin-left: 20px;
}
.header__logo-link {
   max-width: 170px;
   display: block;
   padding: 10px;
}

.header__logo-link img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.header__logo-picture {
   width: 56px;
   height: 100%;
   object-fit: contain;
   padding: 3px;
}

.main-header__right {
   display: flex;
   align-items: center;
}

.main-header-btn__link {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ff142d;
   color: white;
   padding: 10px 10px;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 700;
   transition: all 0.3s ease 0s;
   border: 1px solid transparent;
}

.main-header-btn__link:hover {
   color: #ff142d;
   background-color: white;
   border: 1px solid #ff142d;
}

.main-header__navigation {
   margin-left: auto;
}
.header__navigation-list {
   display: flex;
   align-items: center;
   
}
.header__navigation-link {
   color: #a76700;
   margin: 0px 10px;
   font-size: 16px;
   font-weight: 700;
   transition: all 0.3s ease 0s;
   padding: 10px 0px;
}

.header__navigation-link._active {
/*   border-bottom: 2px dotted #a76700;*/
   color: #ff9d00;
}

.header__navigation-link:hover {
/*   border-bottom: 2px dotted #a76700;*/
   color: #ff9d00;
}

.dropli_link {
   position: relative;
   cursor: pointer;  
}

.icon_arrow_next {
   width: 10px;
   height: 10px;
   margin: 0px 3px;
}

.right__location-country {
   color: inherit;
   padding-right: 3px;
}

.right__location-city {
   color: inherit;
}

@media (max-width:920px) {
   .main_banners {
      height: 230px;
   }
   .header__navigation-link {
       font-size: 14px;
   }
}

@media (min-width: 800px) {
   
   .sub__navigation-list {
   position: absolute;
   z-index: 100;
   top: 150%;
/*   bottom: 0px;*/
   left: -50%;
   padding: 15px 15px 10px 15px;
   color: white;
   background-color: #02408a;
   font-size: 16px;
   font-weight: 500;
   width: 200px;
   visibility: hidden;
   opacity: 0;
   transition: all 0.3s ease 0s;
/*   margin-top: 10px;*/
   border-radius: 10px;
   box-shadow: 0 8px 12px 0 rgb(42 52 61 / 16%);   
}
   
   .dropli_link:hover .sub__navigation-list {
   top: 100%;
   visibility: visible;
   opacity: 1;
}
}


@media (ma-width: 800px) {
.header__navigation-link {
      padding: 0px 0px;
   }
}


.sub__navigation-link {
   cursor: pointer;
   margin-bottom: 9px;
   padding-bottom: 9px;
   display: inline-block;
   font-size: 18px;
/*      padding-bottom: 7px;*/
      display: inline-block;
   font-weight: 500;
   padding-left: 10px;
   width: 100%;
   font-size: 16px;
   color: white;
}

.sub__navigation-link:hover {
   color: yellow;
}

.sub_link {
   border-bottom: 1px dotted white;
}

@media (min-width: 800px) {
   .navigation-link__back {
      display: none;
   }
}

@media (max-width: 800px) {
   
   .icon_arrow_next {
      transform: rotate(-90deg);
      width: 12px;
   height: 12px;
   margin: 0px 5px;
   }
   
   .sub__navigation-list {
      display: flex;
    flex-direction: column;
    position: fixed;
   right: -100%;   
    top: 40px;
    width: 40%;
    height: 100%;
    overflow: auto;
   background-color: #02408a; 
/*    padding-top: 50px;*/
    padding: 15px 10px 20px 10px;
    visibility: visible;
   opacity: 1;
   transition: all 0.7s ease 0s;
   z-index: 150;   
   }
   
   .sub__navigation-list1.active {
        right: 0%;
/*      right: -100%*/
    }
   
   .navigation-link__dropli._active ~ .sub__navigation-list {
    right: 0%;
    
   }
   
   .menu__arrow_back {
      
   }
   
   .sub__navigation-link {
      margin-bottom: 0px;
   }
   
   .navigation-link__back {
      color: yellow;
      font-weight: 700;
      font-size: 18px;
      width: 100%;
      
   }
   
   .navigation-link__back::after {
      content: '';
      border-bottom: 2px dotted white;
      width: 100%;
      height: 2px;
/*      background-color: white;*/
      display: block;
      padding-top: 5px;
      padding-bottom: 10px;
   }
   
   .icon_arrow_back {
      transform: rotate(180deg);
      width: 15px;
   height: 15px;
   margin: 0px 5px;
   }
     
}



@media (max-width:850px) {
   
   .header__logo-link {
      max-width: 150px;
      display: block;
   }
   
   .header__navigation-link {
       font-size: 14px;
   }
   
   .main-header__logo {
   margin-left: 10px;
}
}

@media (max-width:730px) {
   
   
   
/*
   .main-header__container {
      display: none;
   }
*/
   
   
}

@media (max-width: 800px) {
.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
/*    left: -100%;*/
    top: 40px;
    width: 40%;
    height: 100%;
    overflow: auto;
   background-color: #004da8;
    transition: all 0.7s ease 0s;
    padding-top: 50px;
    padding: 15px 10px 20px 10px;
    z-index: 11;

}

   .header__navigation-link {
      font-size: 18px;
/*      margin-bottom: 30px;*/
      color: white;
   }  
   
   .header__navigation-link._active {
      color: gold;
   }
.nav.active {
        right: 0;
    }
   
   .header__navigation-list {
      flex-direction: column;
      align-items: flex-start;
      font-size: 16px;
      margin-bottom: 20px;
      border-bottom: 1px dotted gold;
   }
   .header__navigation-list li {
      margin-bottom: 15px;
      
   }
   
   
   .header-top__body {
      padding: 0px 0px;
   }
}

@media (max-width: 700px) {
   .nav {
      width: 50%;
   }
}

@media (max-width: 560px) {
   .nav {
      width: 60%;
   }
}

@media (max-width: 440px) {
   .nav {
      width: 70%;
   }
   .header__logo-link {
      max-width: 130px;
      display: block;
   }
   
   .main-header__logo {
   margin-left: 5px;
}
   .top-right {
      font-size: 14px;
      margin: 0px 1px;
   }
   .top-right__weather {
      margin: 0px 2px;
   }
   .main-header__container {
      padding: 2px 10px;
   }
   
   .top-left__contacts {
      margin-bottom: 20px;
      border-bottom: 1px dotted gold;
      padding-bottom: 20px;
   }
   
   .top-header-user__link {
      font-size: 18px;
      padding: 10px 10px;
   }
}

@media (max-width: 390px) {
   .icon-location1,
   .icon-sun1 {
      display: none;
   }
   
   @media (max-width: 330px) {
      .icon-heart-favorite {
         width: 15px;
         height: 14px;
         margin: 0px 5px -3px;
      }
   }   
   
   .nav {
      width: 100%;
   }
   

   .top-left__currency,
   .top-left__language{
      font-size: 14px;
   }
   
   .top-right__weather span {
   padding: 0px 0px;
}
   
   .top-left__currency {
    padding: 0px 7px 0px 7px;
}

   .main-header__navigation {
      margin: 0 auto;
   }
}

.banners-others__container {
/*   margin-bottom: 55px;*/
   height: 145px;
}

.banners-others__title {
   text-align: center;
   margin: 25px auto 10px;
   font-size: 36px;
   font-weight: 700;
}

.banners-others__subtitle {
   text-align: center;
   margin: 10px auto;
   font-size: 26px;
   font-weight: 500;
}

@media (max-width: 850px) {
   .banners-others__container {
/*   margin-bottom: 65px;*/
      height: 150px;
}
}

@media (max-width: 700px) {
   .banners-others__title {
      margin: 15px auto 10px;
   }
   .banners-others__container {
/*   margin-bottom: 65px;*/
      height: 160px;
}
}

@media (max-width: 500px) {
   .banners-others__title {
      font-size: 32px;
   }
   
   .banners-others__subtitle {
      font-size: 22px;
   }
}

@media (max-width: 440px) {
   .banners-others__container {
/*   margin-bottom: 65px;*/
      height: 170px;
}
   .banners-others__title {
      font-size: 28px;
   }
}

@media (max-width: 390px) {
   .banners-others__container {
/*   margin-bottom: 65px;*/
      height: 175px;
}
}

@media (max-width: 700px) {
      .sub__navigation-list {
         width: 50%;
      }
   } 
   
   @media (max-width: 560px) {
      .sub__navigation-list {
         width: 60%;
      }
   } 
   
   @media (max-width: 440px) {
      .sub__navigation-list {
         width: 70%;
      }
   }

@media (max-width: 390px) {
      .sub__navigation-list {
         width: 100%;
      }
   }

/* Realty filtr styles */

.filtr__section {
   justify-content: center;
    align-items: center;
   margin: 217px auto 20px;
   max-width: 1050px;
   width: 98%;
    background: rgba(41, 20, 4, 0.71);
/*   background: rgba(2, 64, 138, 0.58);*/
   border-radius: 10px;
   padding: 10px 0px;
   box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
}

.filtr-inner {
   display: flex;
/*  flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px;
   margin: 0px 0px;
   width: 100%;
}


.filtr__label {
   display: block;
/*
    width: 226px;
   width: 25%;
*/
   flex: 1 1 20%;
/*   width: 20%;*/
   height: 54px;
    position: relative;
    border: 1px solid white;
   background-color: white;
   border-right: 1px solid grey;
   margin-bottom: 5px;
   cursor: pointer;
}

.filtr__input {
   width: 100%;
   height: 100%;
/*   height: 20px;*/
    padding: 13px 33px 5px 5px;
    border: none;
    outline: none;
/*    position: absolute;*/
    background-color: transparent;
    font-size: 18px;
    bottom: 0px;
   left: 0px;
    color: dimgrey;
    z-index: 5;
   color: #4e4e4e;
   -webkit-appearance: none;
   cursor: pointer;
}

.filtr__input1 {
   width: 100%;
   height: 100%;
/*   height: 20px;*/
    padding: 13px 5px 5px 5px;
    border: none;
    outline: none;
/*    position: absolute;*/
    background-color: transparent;
    font-size: 18px;
    bottom: 0px;
   left: 0px;
    color: dimgrey;
    z-index: 5;
   color: #4e4e4e;
   -webkit-appearance: none;
   cursor: pointer;
}



.filtr_select__list {
   padding: 18px 25px 18px 15px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

.filtr_select__uplist {
   padding: 18px 25px 18px 15px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   font-weight: 700;
}

.filtr__span {
   position: absolute;
    top: 3px;
    left: 5px;
    cursor: text;
    transition: all 0.2s;
    z-index: 1;
/*     color: #a2a2a2;*/
     color: #777777;
   font-size: 12px;
}

.icon-arrow-down_b {
   width: 15px;
   height: 15px;
   fill: grey;
   position: absolute;
   right: 10px;
   top: 42%;
/*   transform: rotate(180deg);*/
   z-index: 1;
   pointer-events: none;
}



.filtr__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 35px;
    background-color: #00adf9;
   line-height: 0;
   width: 140px;
   text-decoration: none;
   color: white;
   font-weight: 700;
   font-size: 20px;
   border-radius: 5px;
   margin: 0px 5px 5px;
   transition: all 0.3s ease 0s;
}

.filtr__btn:hover {
   background-color: #004da8;
   box-shadow: 0 8px 12px 0 rgb(42 52 61 / 16%);
}

.filtr__btn1 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 15px;
/*    background-color: orangered;*/
   line-height: 0;
   width: 140px;
   color: white;
   font-weight: 500;
   font-size: 14px;
   border-radius: 5px;
   margin: 2px 5px 2px;
   transition: all 0.3s ease 0s;
   text-align: center;
   position: relative;
}

.filtr__btn1::after {
   content: "";
   width: 70%;
   display: block;
   position: absolute;
   height: 1px;
/*   background-color: white;*/
   bottom: -4px;
   border-bottom: 1px dotted white;
}


.filtr__btn1:hover {
   color: yellow;
}

@media (max-width: 920px) {
   .filter_buttons {
      display: flex;
      flex-direction: row-reverse;
      
   }
   
   .filtr__btn {
      height: 40px;
      margin: 5px 5px 5px;
   }
   
   .filtr__btn1 {
      height: 40px;
/*    background-color: #669300;*/
    background-color: #6d9d00;
      margin: 5px 5px 5px;
      font-weight: 500;
   font-size: 16px;
/*      width: 120px;*/
   }
   
   .filtr__btn1::after {
      display: none;
   }
}

@media (max-width: 420px) {
   .filtr__btn,
   .filtr__btn1 {
      height: 40px;
      width: 110px;
   }
   .filtr__btn1 {
      font-size: 14px;
   }
}

.icon_search {
   fill: white;
   width: 18px;
   height: 18px;
   margin: 0px 5px 0px 0px;
/*   margin-bottom: -2px;*/
}

.filtr__btn a{
/*   display: inline-block;*/
    color: white;
    font-size: 20px;
   line-height: 0;
   padding: 0px 35px;
  
}

.filtr_realty__price {
   margin-top: 7px;
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filtr_realty__price1 {
   margin-top: 4px;
   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   width: 100%;
}

.input_price_end {
/*   max-width: 100px;*/
   width: 48%;
   height: 33px;
   outline: none;
   border: 1px dotted #b5b5b5;
   border-radius: 5px;
   padding: 0px 5px;
   font-size: 16px;
}

.select_years {
   width: 48%;
   height: 33px;
   outline: none;
   border: 1px dotted #b5b5b5;
   border-radius: 5px;
   padding: 0px 5px;
   font-size: 16px;
   background-color: transparent;
   color: dimgrey;
}

.realty_price__min {
   padding-right:  5px;
}

.realty_price__max {
   padding-left: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.checkbox_search {
   padding: 0px 10px;
}

.checkbox_search_in {
   display: flex;
/*   justify-content: space-between;*/
   align-items: center;
   padding: 0px 0px 5px 0px;
}

.checkbox_pay {
   margin: 0px 3px 0px 0px;
}


@media (max-width: 920px){
   .filtr-inner {
      flex-wrap: wrap;
   }
   
   .filtr__section {
      margin: 183px auto 20px;
      max-width: 700px;
      padding: 5px 0px;
   }
   
   .filtr__label {
   display: block;
   flex: 1 1 40%;
   }
   
   .checkbox_search {
      flex: 1 0 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
   }
   
   .checkbox_search_in {
      padding: 0px 10px 0px 10px;
   }
}

@media (max-width: 620px) {
   .filtr__section {
      margin: 183px auto 20px;
      max-width: 600px;
   }
   
   .filtr__label {
   display: block;
   flex: 1 1 50%;
   }
   
   .filtr__btn a {
      padding: 70px;
   }
   
   .filtr__input {
      font-size: 16px;
      font-weight: 700;
   }
}

@media (max-width: 450px) {
   .filtr__input {
      font-size: 14px;
      font-weight: 700;
   }
   
   .input_price_end {
      padding: 0px 5px;
/*      font-size: 12px;*/
   }
}

/*  Business type styles */

.business-type__inner {
   display: flex;
   padding: 5px 5px 0px;
   margin-left: 5px;
}


.business-type__tab {
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 5px 5px 0px 0px;
/*   margin: 0px 5px;*/
   background: rgba(41, 20, 4, 0.71);
   cursor: pointer;
   transition: all 0.3s ease 0s;
}

.business-type__tab._active {
   background-color: rgba(103, 120, 66, 0.87);
   background-color: rgba(2, 64, 138, 0.87);
}

.business-type__tab:hover {
   color: yellow;
}

/*  burger menyu styles   */

    .header_burger {
    display: none;
    margin: 0 10px;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 50;
    order: 3;
}

.header_burger span {
    background-color: #02408a;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
}

.header_burger::before,
.header_burger::after {
    content: '';
    background-color: #02408a;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.header_burger.active span {
    transform: scale(0);
    }
f
.header_burger::before {
    top: 0;
}

.header_burger::after {
    bottom: 0;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #02408a;
}

.header_burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        background-color: #02408a;
    }

@media (max-width: 800px) {
   .header_burger {
      display: block;
   }
}




/*  Bread Crumbs section Styles */

.breadcrumbs__section {
   background-color: white;
   background-color: #9aba95;
/*   padding-bottom: 10px;*/
   margin-top: 0px;
  padding: 1px 10px 1px 4%;
}

.breadcrumbs {
    overflow-x: auto;
    margin: 0px 0 0px 10px;
   padding: 7px 7px;
/*    height: 30px;*/
   
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.breadcrumbs__list li {
    padding: 0 15px 0px 0;
    margin: 0 5px 0px 0;
    background: url("../img/li-1.png") right / 7px no-repeat;
}

.breadcrumbs__list li:last-child {
    margin: 0 0px 0px 0;
    background: none;
}

.breadcrumbs__link {
    border-bottom: 1px dotted;
    color: #c9a200;
   color: white;
   font-weight: 500;
}


.breadcrumbs__item {
    font-weight: 300;
    color: #999999;
   color: white;
}

@media (max-width: 900px) {
   .breadcrumbs__section {
      padding: 1px 10px 1px 1%;
   }
}

@media (max-width: 600px) {
   .breadcrumbs__section {
      padding: 1px 10px 1px 0px;
   }
}

/*  Banners Styles */

.pages__top-banners {
   
}



.top-banners__inner {
   position: relative;
   color: white;
    z-index: 3;
   margin: 0px auto 200px;
/*   width: 100%;*/
   display: flex;
   justify-content: center;
}

.top-banners__title {
   position: absolute;
   top: 50px;
/*   text-transform: uppercase;*/
   font-weight: 700;
   font-size: 26px;
   text-align: center;
   max-width: 80%;
   line-height: 40px;
   background-color: rgba(0, 0, 0, 0.46);
   padding: 0px 20px;
   overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 500px) {
   .top-banners__title {
      font-size: 22px;
   }
}

.top-banners {
   height: 200px;
    width: 100%;
    background-color: #3c220f;
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
   
}

.top-banner__img {
   width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* Sections Headers Styles */


.section_header {
}

.header_margin_top {
   margin-top: 15px;
}

.section_header__container {
}
._container {
}
.section_header__main {
   padding: 7px 5px;
   border-top: 2px dotted #004da8;
   border-bottom: 2px dotted #004da8;
   display: flex;
   margin-bottom: 10px;
   justify-content: space-between;
   align-items: center;
}
.section_header__left {
    display: flex;
   align-items: center;
   
}

@media (max-width: 380px) {
   .section_header__left {
      flex-wrap: wrap;
   }
   
   .estate_header__checkbox-body {
      margin-top: 10px;
      margin-left: 10px;
   }
}


.section_header__title {
   font-weight: 700;
   font-size: 16px;
   padding: 0px 10px;
   color: #555555;
}
.section_header__subtitle {
   font-weight: 700;
   font-size: 16px;
   background-color: #004da8;
   color: white;
   padding: 5px 15px;
   border-radius: 7px;
}
.section_header__right {
   display: flex;
   align-items: center;
}
.section_header__more {
   color: #0064db;
   font-size: 16px;
   font-weight: 500;
   display: flex;
   align-items: center;
   transition: all 0.3s ease 0s;
}

.icon-arrow-right11 {
   width: 15px;
   height: 15px;
   margin-right: 3px;
   margin-bottom: 1px;
   fill: orangered;
   transition: all 0.3s ease 0s;
}

.section_header__more:hover {
   color: #004da8;
}

.section_header__more:hover .icon-arrow-right11 {
   margin-right: 0px;
}

.icon-vip_title {
/*   fill: #ff5800;*/
   fill: #ef0000;
   width: 20px;
   height: 20px;
   margin: 0px 5px;
   margin-bottom: -2px;
}

.icon_new_clock {
   fill: #339300;
   width: 20px;
   height: 20px;
   margin: 0px 5px;
   margin-bottom: -2px;
}

.icon_new_premium {
   fill: #ce00d6;
   width: 20px;
   height: 20px;
   margin: 0px 5px;
   margin-bottom: -2px;
}


.icon_salon {
   fill: #edc800;
   width: 20px;
   height: 20px;
   margin: 0px 5px;
   margin-bottom: -2px;
}

.icon-infr {
   fill: #32d800;
}

.icon-infr1 {
   fill: #01cfea;
}

.icon-infr2 {
   fill: #9901ea;
}

.icon-infr3 {
   fill: #d1a900;
}


.icon-infr4 {
   fill: #00ebeb;
}

.icon-infr7 {
   fill: #ff125b;
}

.icon-infr8 {
   fill: #ff8900;
}



@media (max-width: 530px) {
   .section_header__title {
      padding: 0px 0px;
   }
}

@media (max-width: 430px) {
   .section_header__title {
      font-size: 14px;
   }
   
   .section_header__subtitle {
      font-size: 14px;
   }
   .section_header__more {
      font-size: 14px;
   }
   .icon-vip_title1 {
      width: 15px;
   height: 15px;
   }
}

/* Main_elan_part_elan styles */

.homes__ads__main__inner,
.cars__elan__main__inner{
    display: flex;
    flex-wrap: wrap;
/*    justify-content: space-between;*/
   margin-bottom: 20px;
}

.home__item {
    width: 25%;
   position: relative;
}

@media (max-width: 991px) {
   .home__item {
    width: 33.333%;
}
}

@media (max-width: 767px) {
   .home__item {
    width: 50%;
}
}



.board {
    display: block;
    margin: 5px 5px;
    border: 1px solid #e8e7e7;
/*    position: relative;*/
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 17px 34px 0 rgb(44 39 56 / 4%), 0 8px 17px 0 rgb(44 39 56 / 2%);
}

.board:hover {
   box-shadow: 0 4px 8px 0 rgb(177 181 199 / 48%);
}

@media (max-width: 530px) {
   .home__item {
    width: 50%;
}
   .board {
      margin: 5px 2px;
   }
   
   .homes__ads__main__inner,
   .cars__elan__main__inner {
      margin: 0px -5px 20px;
   }
}

@media (max-width: 400px) {
   
}

.home_picture_design {
    position: relative;
    padding: 0 0 67% 0;
/*    text-align: center;*/
/*    height: 180px;*/
    overflow: hidden;

}

.home_photo {
/*    display: block;*/
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
/*    max-width: 100%;*/
/*    height: auto;*/


/*    margin: 10px; 15px;*/
/*    padding: 5px 10px;*/
}

.home_photo_text {
    position: absolute;
    right: 0px;
    top: 0px;
/*    font-family: 'Roboto', sans-serif;*/
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 1px 5px;
    background-color: rgba(255, 54, 0, 0.82);
/*   background-color: red;*/
   border-radius: 5px 0px 0px 5px;
}

.home_photo_text_owner {
   position: absolute;
    left: 0px;
    bottom: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    background-color: #1c6700;
}

.price__currency {
   margin-left: 4px;
}

.home_photo_text_agent {
   position: absolute;
    left: 0px;
    bottom: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    padding: 1px 5px;
/*    background-color: #d89e00;*/
    background-color: #017dc0;
   border-radius: 0px 5px 5px 0px;
}

.content_type__icons {
   display: flex;
   position: absolute;
   right: 0px;
   bottom: 3px;
}

.premium__icon_content {
    display: block;
    fill: #ff9c82;
    width: 20px;
    height: 20px;
    padding: 3px 3px;
    background-color: rgba(1, 70, 86, 0.86);
margin-left: 2px;
   border-radius: 5px;
}

.vip__icon_content {
    display: block;
   
    fill: #ffd102;
    width: 20px;
    height: 20px;
    padding: 3px 3px;
    background-color: rgba(1, 70, 86, 0.86);
   margin-left: 2px;
   border-radius: 5px;
}

.home_extra__icons {
   display: flex;
   position: absolute;
   right: 0px;
   top: 21px;
}

.document__icon_content {
    display: block;
    fill: white;
    width: 16px;
    height: 16px;
    padding: 3px 3px;
    background-color: #9aba95;
   margin-left: 2px;
   border-radius: 5px;
}



.percent__icon_content {
    display: block;
    fill: white;
    width: 16px;
    height: 16px;  
    padding: 3px 3px;
    background-color: #F7941E;
   margin-left: 2px;
   border-radius: 5px;
}

.heart__icon_content {
    display: block;
    position: absolute;
    fill: white;
    width: 26px;
    height: 26px;
    left: 5px;
    top: 5px;
    padding: 4px 4px;
    background-color: rgba(33, 33, 33, 0.37);
   border-radius: 5px;
}

.heart__icon_content1 {
   display: block;
    position: absolute;
    width: 30px;
    height: 28px;
    left: 12px;
    top: 10px;
    padding: 5px 3px;
    background-color: rgba(33, 33, 33, 0.37);
   border-radius: 5px;
   z-index: 3;
   cursor: pointer;
   stroke: white;
   stroke-width: 3px;
   fill: transparent;
}


.heart__icon_content_about {
    display: block;
/*    fill: #ffffff;*/
    fill: white;
    stroke: #DC143C;
    stroke-width: 4px;
    width: 30px;
    height: 25px;
    padding: 3px 3px;
/*    background-color: rgba(78, 76, 76, 0.62);*/

}

.home__town {
   margin-right: 5px;
}

.location__icon_content {
    fill: black;
    width: 20px;
    height: 20px;
    padding: 0px 2px;
}

.sofa__icon {
    fill: #7e7e7e;
    width: 16px;
    height: 16px;
    padding: 2px 2px;
}

.icon__room {
   fill: #7e7e7e;
    width: 18px;
    height: 18px;
    padding: 0px 2px;
}

.heart__icon_content:hover {
    fill: yellow;
    cursor: pointer;
}

.heart__icon_content1:hover {
/*    fill: rgba(179, 244, 5, 0.44);*/
   stroke: #b3f405;
}


.car_maker-model {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 0 0px;
    padding: 2px 10px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
}

.car_details {
    display: flex;
    align-items: center;
    padding: 2px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
    text-decoration: none;
    font-size: 14px;
/*    margin-bottom: 2px;*/
}

.car_elan_date {
    display: flex;
    align-items: center;
    padding: 2px 10px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: grey;
    text-decoration: none;
    font-size: 14px;
/*    margin-bottom: 2px;*/
}

.home_detail {
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: 5px;
}

.ads_date {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 2px 5px;
    color: grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}

@media (max-width: 530px) {
   .heart__icon_content1 {
      left: 5px;
    top: 7px;
   }
}

/* Agencies Styles  */
.agencies {
}
.agencies_container {
}

.agencies__inner {
   display: flex;
   margin-bottom: 15px;
   flex-wrap: wrap;
}
.agency__item {
   flex: 0 0 50%;
   overflow: hidden;
}
.agency__body {
   display: flex;
   margin: 10px;
   border: 1px solid #d9d9d9;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px rgba(201,199,199,0.66);
   overflow: hidden;
   transition: all 0.3s ease 0s;
}

.agency__body:hover {
   box-shadow: 0 0 3px 2px rgba(0, 9, 234, 0.66);
}

.agency__left {
   flex: 0 0 25%;
   min-width: 120px;
   position: relative;
   border-right: 1px solid #d8d8d8;
}
.agency__logo {
   width: 100%;
   height: 100%;
}

.agency__logo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.agency__elan_say {
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: #ffdc22;
/*   color: white;*/
   color: #004da8;
   padding: 2px 5px;
   font-weight: 600;
}

.agency__elan_say span {
   padding: 0px 2px;
}
.agency__right {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow: hidden;
/*   width: 100%;*/
}
.agency__about {
   padding: 5px 10px;
   text-decoration: none;
}
.agency__name {
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 5px;
  color: black;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
   padding-right: 10px;
   min-width: 0px;
}
.agency__text {
   color: #414141;
   overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.agency__stats {
   display: flex;
   justify-content: flex-end;
/*   background-color: #9aba95;*/
   padding: 4px 15px;
   color: white;
   font-weight: 500;
   align-items: center;
    background-color: #005bc7;
}



.stat__item {
   display: flex;
   align-items: center;
   margin: 0px 4px;
}
.icon_stat {
   fill: currentcolor;
   width: 12px;
   height: 12px;
   margin: 0px 1px;
/*   margin-bottom: -2px;*/
}
.icon-vip_title {
}
.stat__number {
}

@media (max-width: 700px) {
   .agencies__inner {
   flex-wrap: wrap;
}
.agency__item {
   flex: 0 0 100%;
}
}

@media (max-width: 500px) {
   .agency__body {
      margin: 10px 5px;
   }
}

/* Avtovitrin Elan Ver  */

.avtovitrin_elan_ver_item {
    width: 90%;
    background-color: orangered;
   background-image: linear-gradient(to right top, #051937, #002a61, #003c8d, #004ebb, #125feb);
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.avtovitrin_elan_ver_link {
    text-decoration: none;
}

.elan_green {
    background-color: #87ce00;
}

.avtovitrin_elan_ver_item_main {
    margin: 0 auto;
    border: 1px dotted white;
    border-radius: 10px;
    padding: 10px;
}

.avtovitrin_elan_ver_item_title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
}

.avtovitrin_elan_ver_item_text {
    margin: 0 auto 5px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.avtovitrin_elan_ver_item_text span {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 35px;
}

.avtovitrin_elan_ver_item_text span:hover {
    background-color: white;
    color: orangered;
}

.avtovitrin_elan_ver_item_text span:focus {
    background-color: white;
    color: orangered;
}

.avtovitrin_elan_ver_item_text span:active {
    background-color: #e6e6e6;
    color: orangered;
}

/* Districts Section Styles */

.districts {
   margin-bottom: 20px;
}
.districts_container {
}

.districts__list {
   display: flex;
   padding: 0px 10px;
   flex-wrap: wrap;
}

.district__name {
   flex: 0 0 20%;
   padding: 5px 5px;
   display: flex;
   align-items: center;
   
}

.district__name::before {
   content: "";
   width: 6px;
   height: 6px;
   color: gold;
   background-color: red;
   display: block;
   margin-right: 5px;
   border-radius: 50%;
}

.district__name1 {
   flex: 0 0 20%;
   padding: 5px 5px;
   display: flex;
   align-items: center;
   
}

.district__name1::before {
   content: "";
   width: 6px;
   height: 6px;
   color: gold;
   background-color: #c62cff;
   display: block;
   margin-right: 5px;
   border-radius: 50%;
}

.district__link {
   text-decoration: none;
   color: #02408a;
   font-weight: 500;
   transition: all 0.2s ease 0s;
   
}

.district__link span {
   font-weight: 700;
   padding-left: 3px;
   color: #02408a;
}

.district__name:hover .district__link {
   text-decoration: underline;
   color: #85c100;
   
}


@media (max-width: 700px) {
   .district__name,
   .district__name1 {
   flex: 0 0 25%;
   }
}

@media (max-width: 500px) {
   .district__name,
   .district__name1 {
   flex: 0 0 33%;
   }
}

@media (max-width: 400px) {
   .district__name,
   .district__name1 {
   flex: 0 0 50%;
   }
}


/*  Footer Styles */

.footer {
   margin-top: auto;
/*    background-color: #1e1e1e;*/
/*   background-color: #291303;*/
/*   background-color: #01183c;*/
   background-color: #023e7d;
}
.footer__top {
   border-bottom: 1px solid grey;
    padding: 20px 0;
}
.footer__top_container {
    max-width: 1200px;

}

.footer__row {
    display: flex;
    flex-wrap: wrap ;
    margin: 0 -15px;
}

.footer__column {
    flex: 0 0 20%;
    padding: 20px 15px;
    min-width: 160px;
}

.footer__column:last-child {
    flex: 0 0 36%;
}




.footer__label {
    color: white;
    font-weight: 700;
    line-height: 150%;
    font-size: 16px;
    margin: 0 0 15px 0;
   display: inline-block;
   transition: all 0.3s ease 0s;
   cursor: pointer;
   border-bottom: 2px solid white;
}

.footer__label:hover {
   border-bottom: 2px solid gold;
   color: gold;
}

.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
}

.menu-footer__item:not(:last-child) {
    margin: 0 0 10px 0;
}

.menu-footer__link {
    font-size: 14px;
    font-weight: 400;
    color: white;
   transition: all 0.3s ease 0s;
}

.menu-footer__link:hover {
/*    font-weight: 600;*/
   border-bottom: 2px solid gold;
   color: gold;
}
.contacts__footer {
}
.footer-contacts {
    display: flex;
    flex-direction: column;
}
.footer-contacts__item {
    padding: 0 0 0 34px;
    display: flex;
    align-items: center;
    min-height: 30px;
    color: white;
    line-height: 142%;
    font-size: 14px;
    font-weight: 400;
}

.footer-contacts__item:not(:last-child) {
    margin: 0 0 10px 0;
}

.footer-contacts__item:hover {
    text-decoration: underline;
}

.footer-contacts__text {
   color: #bbb;
   line-height: 1.4;
   margin-bottom: 7px;
   font-weight: 500;
}

.footer-contacts__item__phone {
    background: url("../img/footer/f1.svg") left no-repeat;
}
.footer-contacts__item__map {
    background: url("../img/footer/f2.svg") left no-repeat;
}
.footer-contacts__item__mail {
    background: url("../img/footer/f3.svg") left no-repeat;
}
.footer__bottom {
    padding: 15px 0;
}


.footer__bottom__container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
.footer__bottom__container a {
/*   text-decoration: none;*/
   color: white;
   font-weight: 700;
}

.footer__bottom__copy {
    line-height: 170%;
   text-align: center;
   color: darkgrey;
}
.footer__bottom__social {
    display: flex;
    align-items: center;

}
.footer__bottom__social_item:not(:last-child) {
    margin: 0 15px 0 0;
}
.footer__bottom__social__icon {
   width: 16px;
   height: 16px;
}


/*  Subsribe Styles  */

.subscribe {
    width: 100%;
    max-width: 250px;
    display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.subscribe__input {
    background-color: transparent;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
   color: #fefefe;
    border: 1px solid #727272;
}

.subscribe__input:active,
.subscribe__input:focus {
   border: 1px solid gold;
}

.subscribe__input::placeholder {
    color: #b2b2b2;
}

.subscribe__btn {
    border: 0;
    padding: 12px 15px;
/*    line-height: 1;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    outline: 0;
   color: #fefefe;
    background-color: orangered;
/*   border: 1px solid transparent;*/
    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #de3c00;
}

@media (max-width: 767px) {
    .footer__bottom__container {
    flex-direction: column;
    text-align: center;
    margin: 0 0 0px 0;
    }
    .footer__bottom__copy {
    margin: 0 0 0px 0;
    }
   
   .subscribe {
/*      flex-wrap: wrap;*/
   }
}


@media (max-width: 850px) {
   .footer__column {
    flex: 0 1 33%;
    padding: 20px 15px;
    min-width: 160px;
}

.footer__column:last-child {
    flex: 0 1 100%;
}
}

@media (max-width: 500px) {
   .footer__column {
    flex: 0 1 50%;
    padding: 20px 15px;
    min-width: 160px;
}
}
